In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [16]:
df= pd.read_csv('dataset-3.csv')

In [17]:
df.head(10)

   id_start   id_end  distance
0   1001400  1001402       9.7
1   1001402  1001404      20.2
2   1001404  1001406      16.0
3   1001406  1001408      21.7
4   1001408  1001410      11.1
5   1001410  1001412      15.6
6   1001412  1001414      18.2
7   1001414  1001416      13.2
8   1001416  1001418      13.6
9   1001418  1001420      12.9

In [18]:
df.isna().sum()

id_start    0
id_end      0
distance    0
dtype: int64

## Question 1: Distance Matrix Calculation

In [38]:
import pandas as pd

def calculate_distance_matrix(df):
    # Create a pivot table to represent distances between IDs
    distance_matrix = pd.pivot_table(df, values='distance', index='id_start', columns='id_end', fill_value=0)

    # Ensure the matrix is symmetric
    distance_matrix = distance_matrix + distance_matrix.transpose()

    # Set only diagonal values to 0
    for i in distance_matrix.index:
        distance_matrix.at[i, i] = 0

    # Replace NaN values with 0 for proper sum calculation
    distance_matrix = distance_matrix.fillna(0)

    # Calculate cumulative distances along known routes
    distance_matrix = distance_matrix.apply(lambda col: col.cumsum(), axis=1)

    # Set the diagonal values to 0
    distance_matrix.values[[range(len(distance_matrix))]*2] = 0

    return distance_matrix

# Assuming df_distance is your DataFrame with the distance information
df_distance = pd.DataFrame({
    'id_start': [1001400, 1001402, 1001404, 1001406, 1001408, 1001410, 1001412, 1001414, 1001416, 1001418],
    'id_end': [1001402, 1001404, 1001406, 1001408, 1001410, 1001412, 1001414, 1001416, 1001418, 1001420],
    'distance': [9.7, 20.2, 16.0, 21.7, 11.1, 15.6, 18.2, 13.2, 13.6, 12.9]
})

distance_matrix = calculate_distance_matrix(df_distance)
print(distance_matrix)

         1001400  1001402  1001404  1001406  1001408  1001410  1001412  \
1001400      0.0      0.0      0.0      0.0      0.0      0.0      0.0
1001402      0.0      0.0     20.2     20.2     20.2     20.2     20.2
1001404      0.0     20.2      0.0     36.2     36.2     36.2     36.2
1001406      0.0      0.0     16.0      0.0     37.7     37.7     37.7
1001408      0.0      0.0      0.0     21.7      0.0     32.8     32.8
1001410      0.0      0.0      0.0      0.0     11.1      0.0     26.7
1001412      0.0      0.0      0.0      0.0      0.0     15.6      0.0
1001414      0.0      0.0      0.0      0.0      0.0      0.0     18.2
1001416      0.0      0.0      0.0      0.0      0.0      0.0      0.0
1001418      0.0      0.0      0.0      0.0      0.0      0.0      0.0
1001420      0.0      0.0      0.0      0.0      0.0      0.0      0.0

         1001414  1001416  1001418  1001420
1001400      0.0      0.0      0.0      0.0
1001402     20.2     20.2     20.2     20.2
1001404     36.2     36.2     36.2     36.2
1001406     37.7     37.7     37.7     37.7
1001408     32.8     32.8     32.8     32.8
1001410     26.7     26.7     26.7     26.7
1001412     33.8     33.8     33.8     33.8
1001414      0.0     31.4     31.4     31.4
1001416     13.2      0.0     26.8     26.8
1001418      0.0     13.6      0.0     13.6
1001420      0.0      0.0      0.0      0.0

## Question 2: Unroll Distance Matrix

In [54]:


def unroll_distance_matrix(distance_matrix):
    # Get the upper triangle of the distance matrix excluding the diagonal
    upper_triangle = distance_matrix.where(np.triu(np.ones(distance_matrix.shape), k=1).astype(bool))

    # Stack the upper triangle to convert it into a long format
    unrolled_distance = upper_triangle.stack().reset_index()

    # Rename the columns
    unrolled_distance.columns = ['id_start', 'id_end', 'distance']

    return unrolled_distance

result_matrix_unrolled = unroll_distance_matrix(result_matrix)
print(result_matrix_unrolled)

    id_start   id_end  distance
0    1001402  1001404      20.2
1    1001402  1001406       0.0
2    1001402  1001408       0.0
3    1001402  1001410       0.0
4    1001402  1001412       0.0
5    1001402  1001414       0.0
6    1001402  1001416       0.0
7    1001402  1001418       0.0
8    1001404  1001406      16.0
9    1001404  1001408       0.0
10   1001404  1001410       0.0
11   1001404  1001412       0.0
12   1001404  1001414       0.0
13   1001404  1001416       0.0
14   1001404  1001418       0.0
15   1001406  1001408      21.7
16   1001406  1001410       0.0
17   1001406  1001412       0.0
18   1001406  1001414       0.0
19   1001406  1001416       0.0
20   1001406  1001418       0.0
21   1001408  1001410      11.1
22   1001408  1001412       0.0
23   1001408  1001414       0.0
24   1001408  1001416       0.0
25   1001408  1001418       0.0
26   1001410  1001412      15.6
27   1001410  1001414       0.0
28   1001410  1001416       0.0
29   1001410  1001418       0.0
30   1001412  1001414      18.2
31   1001412  1001416       0.0
32   1001412  1001418       0.0
33   1001414  1001416      13.2
34   1001414  1001418       0.0
35   1001416  1001418      13.6

## Question 3: Finding IDs within Percentage Threshold

In [55]:

reference_value = 1001402  # Replace with the desired reference value
result_ids, average_distance = find_ids_within_ten_percentage_threshold(df, reference_value)

print("Result IDs within 10% threshold:", result_ids)
print("Average distance for the reference value:", average_distance)

Result IDs within 10% threshold: [1001400, 1001402, 1001404, 1001406, 1001408, 1001410, 1001412, 1001414, 1001416, 1001418, 1001420, 1001422, 1001424, 1001426, 1001428, 1001430, 1001432, 1001434, 1001436, 1001436, 1001438, 1001438, 1001440, 1001442, 1001444, 1001446, 1001448, 1001450, 1001452, 1001454, 1001456, 1001458, 1001460, 1001460, 1001461, 1001462, 1001464, 1001466, 1001468, 1001470, 1001488, 1004354, 1004355, 1004356]
Average distance for the reference value: 20.2

## Question 4: Calculate Toll Rate

In [56]:
def calculate_toll_rate(df):
    # Rate coefficients for each vehicle type
    rate_coefficients = {'moto': 0.8, 'car': 1.2, 'rv': 1.5, 'bus': 2.2, 'truck': 3.6}

    # Calculate toll rates for each vehicle type
    for vehicle_type, rate in rate_coefficients.items():
        column_name = f'{vehicle_type}_toll_rate'
        df[column_name] = df['distance'] * rate

    return df


df_with_toll_rates = calculate_toll_rate(df)


print(df_with_toll_rates)

    id_start   id_end  distance  moto_toll_rate  car_toll_rate  rv_toll_rate  \
0    1001400  1001402       9.7            7.76          11.64         14.55
1    1001402  1001404      20.2           16.16          24.24         30.30
2    1001404  1001406      16.0           12.80          19.20         24.00
3    1001406  1001408      21.7           17.36          26.04         32.55
4    1001408  1001410      11.1            8.88          13.32         16.65
5    1001410  1001412      15.6           12.48          18.72         23.40
6    1001412  1001414      18.2           14.56          21.84         27.30
7    1001414  1001416      13.2           10.56          15.84         19.80
8    1001416  1001418      13.6           10.88          16.32         20.40
9    1001418  1001420      12.9           10.32          15.48         19.35
10   1001420  1001422       9.6            7.68          11.52         14.40
11   1001422  1001424      11.4            9.12          13.68         17.10
12   1001424  1001426      18.6           14.88          22.32         27.90
13   1001426  1001428      15.8           12.64          18.96         23.70
14   1001428  1001430       8.6            6.88          10.32         12.90
15   1001430  1001432       9.0            7.20          10.80         13.50
16   1001432  1001434       7.9            6.32           9.48         11.85
17   1001434  1001436       4.0            3.20           4.80          6.00
18   1001436  1001438       9.0            7.20          10.80         13.50
19   1001436  1001437       5.0            4.00           6.00          7.50
20   1001438  1001437       4.0            3.20           4.80          6.00
21   1001438  1001440      10.0            8.00          12.00         15.00
22   1001440  1001442       3.9            3.12           4.68          5.85
23   1001442  1001488       4.5            3.60           5.40          6.75
24   1001488  1004356       4.0            3.20           4.80          6.00
25   1004356  1004354       2.0            1.60           2.40          3.00
26   1004354  1004355       2.0            1.60           2.40          3.00
27   1004355  1001444       0.7            0.56           0.84          1.05
28   1001444  1001446       6.6            5.28           7.92          9.90
29   1001446  1001448       9.6            7.68          11.52         14.40
30   1001448  1001450      15.7           12.56          18.84         23.55
31   1001450  1001452       9.9            7.92          11.88         14.85
32   1001452  1001454      11.3            9.04          13.56         16.95
33   1001454  1001456      13.6           10.88          16.32         20.40
34   1001456  1001458       8.9            7.12          10.68         13.35
35   1001458  1001460       5.1            4.08           6.12          7.65
36   1001460  1001461      12.8           10.24          15.36         19.20
37   1001460  1001462      17.9           14.32          21.48         26.85
38   1001461  1001462       5.1            4.08           6.12          7.65
39   1001462  1001464      26.7           21.36          32.04         40.05
40   1001464  1001466       8.5            6.80          10.20         12.75
41   1001466  1001468      10.7            8.56          12.84         16.05
42   1001468  1001470      10.6            8.48          12.72         15.90
43   1001470  1001472      16.0           12.80          19.20         24.00

    bus_toll_rate  truck_toll_rate start_day start_time end_day end_time
0           21.34            34.92       NaN        NaT     NaN      NaT
1           44.44            72.72       NaN        NaT     NaN      NaT
2           35.20            57.60       NaN        NaT     NaN      NaT
3           47.74            78.12       NaN        NaT     NaN      NaT
4           24.42            39.96       NaN        NaT     NaN      NaT
5           34.32            56.16       NaN        NaT     NaN      NaT
6           40.04            65.52       NaN        NaT     NaN      NaT
7           29.04            47.52       NaN        NaT     NaN      NaT
8           29.92            48.96       NaN        NaT     NaN      NaT
9           28.38            46.44       NaN        NaT     NaN      NaT
10          21.12            34.56       NaN        NaT     NaN      NaT
11          25.08            41.04       NaN        NaT     NaN      NaT
12          40.92            66.96       NaN        NaT     NaN      NaT
13          34.76            56.88       NaN        NaT     NaN      NaT
14          18.92            30.96       NaN        NaT     NaN      NaT
15          19.80            32.40       NaN        NaT     NaN      NaT
16          17.38            28.44       NaN        NaT     NaN      NaT
17           8.80            14.40       NaN        NaT     NaN      NaT
18          19.80            32.40       NaN        NaT     NaN      NaT
19          11.00            18.00       NaN        NaT     NaN      NaT
20           8.80            14.40       NaN        NaT     NaN      NaT
21          22.00            36.00       NaN        NaT     NaN      NaT
22           8.58            14.04       NaN        NaT     NaN      NaT
23           9.90            16.20       NaN        NaT     NaN      NaT
24           8.80            14.40       NaN        NaT     NaN      NaT
25           4.40             7.20       NaN        NaT     NaN      NaT
26           4.40             7.20       NaN        NaT     NaN      NaT
27           1.54             2.52       NaN        NaT     NaN      NaT
28          14.52            23.76       NaN        NaT     NaN      NaT
29          21.12            34.56       NaN        NaT     NaN      NaT
30          34.54            56.52       NaN        NaT     NaN      NaT
31          21.78            35.64       NaN        NaT     NaN      NaT
32          24.86            40.68       NaN        NaT     NaN      NaT
33          29.92            48.96       NaN        NaT     NaN      NaT
34          19.58            32.04       NaN        NaT     NaN      NaT
35          11.22            18.36       NaN        NaT     NaN      NaT
36          28.16            46.08       NaN        NaT     NaN      NaT
37          39.38            64.44       NaN        NaT     NaN      NaT
38          11.22            18.36       NaN        NaT     NaN      NaT
39          58.74            96.12       NaN        NaT     NaN      NaT
40          18.70            30.60       NaN        NaT     NaN      NaT
41          23.54            38.52       NaN        NaT     NaN      NaT
42          23.32            38.16       NaN        NaT     NaN      NaT
43          35.20            57.60       NaN        NaT     NaN      NaT

## Question 5: Calculate Time-Based Toll Rates

In [66]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta, time

def calculate_time_based_toll_rates(df):
    # Define time ranges and discount factors
    time_ranges_weekdays = [
        (time(0, 0, 0), time(10, 0, 0), 0.8),
        (time(10, 0, 0), time(18, 0, 0), 1.2),
        (time(18, 0, 0), time(23, 59, 59), 0.8)
    ]

    time_ranges_weekends = [
        (time(0, 0, 0), time(23, 59, 59), 0.7)
    ]

    # Iterate through each row in the DataFrame
    for _, row in df.iterrows():
        id_start, id_end = row['id_start'], row['id_end']
        start_time, end_time = pd.to_datetime(row['start_time']), pd.to_datetime(row['end_time'])

        # Create a full 24-hour period and span all 7 days of the week
        for day_offset in range(7):
            current_date = datetime(2023, 1, 1) + timedelta(days=day_offset)

            for start_range, end_range, discount_factor in (time_ranges_weekdays if current_date.weekday() < 5 else time_ranges_weekends):
                start_datetime = datetime.combine(current_date, start_range)
                end_datetime = datetime.combine(current_date, end_range)

                # Check if the time range overlaps with the toll calculation period
                if start_datetime <= end_time and end_datetime >= start_time:
                    # Update the vehicle columns based on the discount factor
                    mask = (df['id_start'] == id_start) & (df['id_end'] == id_end)
                    df.loc[mask, ['moto_toll_rate', 'car_toll_rate', 'rv_toll_rate', 'bus_toll_rate', 'truck_toll_rate']] *= discount_factor

    return df

# Example usage:
# Assuming df_with_toll_rates is your DataFrame from the previous question
df_with_time_based_toll_rates = calculate_time_based_toll_rates(df_with_toll_rates)

# Display the updated DataFrame
print(df_with_time_based_toll_rates)

    id_start   id_end  distance  moto_toll_rate  car_toll_rate  rv_toll_rate  \
0    1001400  1001402       9.7            7.76          11.64         14.55
1    1001402  1001404      20.2           16.16          24.24         30.30
2    1001404  1001406      16.0           12.80          19.20         24.00
3    1001406  1001408      21.7           17.36          26.04         32.55
4    1001408  1001410      11.1            8.88          13.32         16.65
5    1001410  1001412      15.6           12.48          18.72         23.40
6    1001412  1001414      18.2           14.56          21.84         27.30
7    1001414  1001416      13.2           10.56          15.84         19.80
8    1001416  1001418      13.6           10.88          16.32         20.40
9    1001418  1001420      12.9           10.32          15.48         19.35
10   1001420  1001422       9.6            7.68          11.52         14.40
11   1001422  1001424      11.4            9.12          13.68         17.10
12   1001424  1001426      18.6           14.88          22.32         27.90
13   1001426  1001428      15.8           12.64          18.96         23.70
14   1001428  1001430       8.6            6.88          10.32         12.90
15   1001430  1001432       9.0            7.20          10.80         13.50
16   1001432  1001434       7.9            6.32           9.48         11.85
17   1001434  1001436       4.0            3.20           4.80          6.00
18   1001436  1001438       9.0            7.20          10.80         13.50
19   1001436  1001437       5.0            4.00           6.00          7.50
20   1001438  1001437       4.0            3.20           4.80          6.00
21   1001438  1001440      10.0            8.00          12.00         15.00
22   1001440  1001442       3.9            3.12           4.68          5.85
23   1001442  1001488       4.5            3.60           5.40          6.75
24   1001488  1004356       4.0            3.20           4.80          6.00
25   1004356  1004354       2.0            1.60           2.40          3.00
26   1004354  1004355       2.0            1.60           2.40          3.00
27   1004355  1001444       0.7            0.56           0.84          1.05
28   1001444  1001446       6.6            5.28           7.92          9.90
29   1001446  1001448       9.6            7.68          11.52         14.40
30   1001448  1001450      15.7           12.56          18.84         23.55
31   1001450  1001452       9.9            7.92          11.88         14.85
32   1001452  1001454      11.3            9.04          13.56         16.95
33   1001454  1001456      13.6           10.88          16.32         20.40
34   1001456  1001458       8.9            7.12          10.68         13.35
35   1001458  1001460       5.1            4.08           6.12          7.65
36   1001460  1001461      12.8           10.24          15.36         19.20
37   1001460  1001462      17.9           14.32          21.48         26.85
38   1001461  1001462       5.1            4.08           6.12          7.65
39   1001462  1001464      26.7           21.36          32.04         40.05
40   1001464  1001466       8.5            6.80          10.20         12.75
41   1001466  1001468      10.7            8.56          12.84         16.05
42   1001468  1001470      10.6            8.48          12.72         15.90
43   1001470  1001472      16.0           12.80          19.20         24.00

    bus_toll_rate  truck_toll_rate start_day start_time end_day end_time
0           21.34            34.92       NaN        NaT     NaN      NaT
1           44.44            72.72       NaN        NaT     NaN      NaT
2           35.20            57.60       NaN        NaT     NaN      NaT
3           47.74            78.12       NaN        NaT     NaN      NaT
4           24.42            39.96       NaN        NaT     NaN      NaT
5           34.32            56.16       NaN        NaT     NaN      NaT
6           40.04            65.52       NaN        NaT     NaN      NaT
7           29.04            47.52       NaN        NaT     NaN      NaT
8           29.92            48.96       NaN        NaT     NaN      NaT
9           28.38            46.44       NaN        NaT     NaN      NaT
10          21.12            34.56       NaN        NaT     NaN      NaT
11          25.08            41.04       NaN        NaT     NaN      NaT
12          40.92            66.96       NaN        NaT     NaN      NaT
13          34.76            56.88       NaN        NaT     NaN      NaT
14          18.92            30.96       NaN        NaT     NaN      NaT
15          19.80            32.40       NaN        NaT     NaN      NaT
16          17.38            28.44       NaN        NaT     NaN      NaT
17           8.80            14.40       NaN        NaT     NaN      NaT
18          19.80            32.40       NaN        NaT     NaN      NaT
19          11.00            18.00       NaN        NaT     NaN      NaT
20           8.80            14.40       NaN        NaT     NaN      NaT
21          22.00            36.00       NaN        NaT     NaN      NaT
22           8.58            14.04       NaN        NaT     NaN      NaT
23           9.90            16.20       NaN        NaT     NaN      NaT
24           8.80            14.40       NaN        NaT     NaN      NaT
25           4.40             7.20       NaN        NaT     NaN      NaT
26           4.40             7.20       NaN        NaT     NaN      NaT
27           1.54             2.52       NaN        NaT     NaN      NaT
28          14.52            23.76       NaN        NaT     NaN      NaT
29          21.12            34.56       NaN        NaT     NaN      NaT
30          34.54            56.52       NaN        NaT     NaN      NaT
31          21.78            35.64       NaN        NaT     NaN      NaT
32          24.86            40.68       NaN        NaT     NaN      NaT
33          29.92            48.96       NaN        NaT     NaN      NaT
34          19.58            32.04       NaN        NaT     NaN      NaT
35          11.22            18.36       NaN        NaT     NaN      NaT
36          28.16            46.08       NaN        NaT     NaN      NaT
37          39.38            64.44       NaN        NaT     NaN      NaT
38          11.22            18.36       NaN        NaT     NaN      NaT
39          58.74            96.12       NaN        NaT     NaN      NaT
40          18.70            30.60       NaN        NaT     NaN      NaT
41          23.54            38.52       NaN        NaT     NaN      NaT
42          23.32            38.16       NaN        NaT     NaN      NaT
43          35.20            57.60       NaN        NaT     NaN      NaT